{% extends "layout.html" %}
{% block body %}
<br>
{% for todo in todos %}
<p>Task: {{ todo.task }} </p>
<p>Completed: {{ todo.completed }}</p> 
<br>
<form action="{{url_for('update', id=todo.id)}}"></form>
<button type="Submit"> Update Task</button>
<br>
<form action="{{url_for('delete', id=todo.id)}}"></form>
<br>
<button type="Submit"> Delete Task</button>
<form action="{{url_for('complete', id=todo.id)}}"></form>
<br>
<button type="Submit"> Complete Task</button>
<form action="{{url_for('incomplete', id=todo.id)}}"></form>
<br>
<button type="Submit"> Incomplete Task</button>
<br>
<br>

{% endfor %}
{% endblock body %}